.chat-main
  .main-header
    .main-header__left-box
      %h1.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        "Member:"
        %li.main-header__left-box__member-list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main-header__edit
      = link_to 'Edit', edit_group_path(@group.id), class: "form__submit"
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'