.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            = icon('fas', 'edit', class: 'icon')
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .groups
    %ul.group
      %li.group__group-name
        グループ1
      %li.group__latest-message
        よお
    %ul.group
      %li.group__group-name
        グループ1
      %li.group__latest-message
        よお
    %ul.group
      %li.group__group-name
        グループ1
      %li.group__latest-message
        よお


